
@font-face {
  font-family: 'Leelawadee-Bold';
  src: url('Leelawadee-Bold.eot?#iefix') format('embedded-opentype'),  url('Leelawadee-Bold.woff') format('woff'), url('Leelawadee-Bold.ttf')  format('truetype'), url('Leelawadee-Bold.svg#Leelawadee-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
